@import url('https://fonts.googleapis.com/css?family=Lato:300,500,700');

$white: #fff;
$black: #3c3c3c;

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  // border: 1px solid red !important;
  font-family: 'Lato', sans-serif !important;
  text-align: center;
}

.container {
  width: 900px;
}

body {
  background-color: $white;
}

h2 {
  font-size: 34px;
  font-weight: bold;
  letter-spacing: 5px;
  position: absolute;
  top: -40px;
  left: 250px;
  background-color: $white;
  padding: 0 108px;
  @media (max-width: 991px) {
    font-size: 26px;
    position: static;
    width: 100%;
    padding: 0;
    text-align: left;
  }
}

/* JUMBOTRON */

.jumbotron {
  background: url("../images/header.jpg") no-repeat center / cover;
  height: 100vh;
  color: $white;
  .container {
    margin-top: 30vh;
    h1 {
      letter-spacing: 8px;
      font-size: 54px;
      margin-bottom: 54px;
      font-weight: 500;
      @media (max-width: 700px) {
        font-size: 34px;
        margin-bottom: 30px;
      }
    }
    p {
      font-size: 15px;
      letter-spacing: 1px;
      line-height: 29px;
      text-transform: uppercase;
      @media (max-width: 700px) {
        font-size: 13px;
        line-height: 22px;
      }
    }
  }
}

/* ABOUT US */

.about-us {
  color: $black;
  height: 630px - 230px;
  @media (max-width: 991px) {
    height: 100%;
  }
  .container {
    border: 2px solid $black;
    padding: 0 175px 0;
    margin: 160px auto;
    position: relative;
    @media (max-width: 991px) {
      border: none;
      width: 100%;
      padding: 0 50px;
      margin: 50px auto 0;
    }
    p {
      font-size: 16px;
      line-height: 24px;
      font-weight: 300;
      margin-bottom: 50px;
      @media (max-width: 991px) {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 20px;
        text-align: left;
      }
    }
    p:first-of-type {
      margin-bottom: 20px;
      margin-top: 60px;
      @media (max-width: 991px) {
        margin-top: 20px;
      }
    }
  }
}

/* SERVICES */

.services {
  background: url("../images/services.jpg") no-repeat center / cover;
  height: 448px;
  color: $white;
  @media (max-width: 991px) {
    height: 100%;
  }
  .container {
    border: 2px solid $white;
    border-top: none;
    padding: 0 175px 0;
    margin: 60px auto !important;
    position: relative;
    top: 80px;
    @media (max-width: 991px) {
      border: none;
      width: 100%;
      padding: 0 50px;
      margin: 50px auto 0;
    }
    h2 {
      overflow: hidden;
      left: 0;
      padding: 0;
      background-color: inherit;
    }
    h2::before, h2::after {
      content: "";
      vertical-align: top;
      display: inline-block;
      width: 250px;
      height: .6em;
      border-bottom: 2px solid #fff;
      margin: 0 100px 0 0;
      @media (max-width: 991px) {
        display: none;
      }
    }
    h2::after {
      margin: 0 0 0 100px;
      @media (max-width: 991px) {
        display: none;
      }
    }
    p {
      font-size: 16px;
      line-height: 24px;
      font-weight: 300;
      margin-bottom: 50px;
      margin-top: 60px;
      @media (max-width: 991px) {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 20px;
        margin-top: 20px;
        text-align: left;
        padding-bottom: 50px;
      }
    }
  }
}

/* WHAT WE DO */

.what-we-do {
  color: $black;
  @media (max-width: 991px) {
    height: 100%;
  }
  .container {
    border: 2px solid $black;
    padding: 0 175px 0;
    margin: 160px auto;
    position: relative;
    @media (max-width: 991px) {
      border: none;
      width: 100%;
      padding: 0 50px;
      margin: 50px auto 0;
    }
    h2 {
      left: 260px;
      padding: 0 70px;
      @media (max-width: 991px) {
        padding: 0;
        text-align: center;
      }
    }
    .first {
      margin-top: 140px;
      @media (max-width: 991px) {
        margin-top: 40px;
      }
    }
    img {
      margin-top: 30px;
      @media (max-width: 991px) {
        height: 50px;
      }
    }
    h3 {
      font-size: 20px;
      letter-spacing: 4px;
      font-weight: bold;
      padding-top: 20px;
      padding-bottom: 15px;
      @media (max-width: 991px) {
        padding-top: 0;
      }
    }
    p {
      font-size: 14px;
      line-height: 26px;
      font-weight: 300;
      margin-bottom: 90px;
      @media (max-width: 991px) {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 20px;
        margin-top: 20px;
        padding-bottom: 50px;
      }
    }
  }
}

/* GALLERY */

.gallery {
  overflow: hidden;
  @media (max-width: 991px) {
    margin-left: 10px;
    margin-right: 10px;
  }
  .row {
    height: 237px;
    width: 100vw;
    .pad {
      @media (max-width: 991px) {
        padding-left: 10px;
      }
    }
    [class^="col-"] {
      padding: 0 10px 10px 0;
      position: relative;
      [id^="img-"] {
        height: 237px;
        width: 100%;
      }
      #img-1 {
        background: url("../images/works-1.jpg") no-repeat center / cover;
      }
      #img-2 {
        background: url("../images/works-2.jpg") no-repeat center / cover;
      }
      #img-3 {
        background: url("../images/works-3.jpg") no-repeat center / cover;
      }
      #img-4 {
        background: url("../images/works-4.jpg") no-repeat center / cover;
      }
      #img-5 {
        background: url("../images/works-5.jpg") no-repeat center / cover;
      }
      #img-6 {
        background: url("../images/works-6.jpg") no-repeat center / cover;
      }
      [id^="img-"]:hover {
        opacity: .7;
        cursor: pointer;
      }
      h3 {
        position: absolute;
        bottom: 42px;
        left: 47px;
        color: $white;
        font-size: 34px;
        letter-spacing: 6px;
        font-weight: bold;
        @media (max-width: 991px) {
          font-size: 26px;
        }
      }
    }
    .last {
      padding-right: 0;
      @media (max-width: 991px) {
        padding-right: 10px;
      }
    }
  }
}

/* CONTACT US */

.contact-us {
  color: $black;
  height: 630px - 230px - 40px;
  @media (max-width: 991px) {
    height: 100%;
  }
  .container {
    border: 2px solid $black;
    padding: 0 175px 0;
    margin: 160px auto;
    position: relative;
    @media (max-width: 991px) {
      border: none;
      width: 100%;
      padding: 0 50px;
      margin: 50px auto 0;
    }
    h2 {
      left: 240px;
      padding: 0 80px;
      @media (max-width: 991px) {
        padding: 0;
      }
    }
    p {
      font-size: 16px;
      line-height: 26px;
      font-weight: 300;
      margin-bottom: 42px;
      margin-top: 60px;
      @media (max-width: 991px) {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 20px;
        margin-top: 20px;
        text-align: left;
        padding-bottom: 50px;
      }
    }
    button {
      background-color: $black;
      color: $white;
      border: none;
      height: 58px;
      width: 395px;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 3px;
      margin-bottom: 50px;
      @media (max-width: 991px) {
        width: 180px;
        }
    }
  }
}

/* FOOTER */

span {
  margin-left: 14px;
  font-size: 14px;
}

footer {
  @media (max-width: 991px) {
    margin-bottom: 20px;
  }
}
